@font-face {
    font-family: pokemon;
    src: url(fonts/Pokemon\ Solid.ttf);
}

* {
	box-sizing: border-box;
    text-align: center;
    font-family: pokemon;
    color: #FFCB05;
    -webkit-text-stroke: 2px #395FAA; /* width and color */
    letter-spacing: 4px;
}

body {
    font-size: 1.5em;
    background: linear-gradient(90deg, #dc2f02ff 0%, #00b4d8ff 50%, #2a9134ff 100%);
}

.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

.tarjeta-mokepon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: solid #395FAA;
    border-radius: 8px;
    border-width: 2px;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    width: 250px;
    height: 250px;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.tarjeta-mokepon:hover {
    box-shadow: #395FAA 0 0 0 5px, transparent 0 0 0 0;
}

.tarjeta-mokepon > img {
    width: 150px;
    text-align: start;
    margin-bottom: -30px;
}

.tarjeta-mokepon::before {
    content: "";
    position: absolute;
    background: url("img/ball.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

input:checked + .tarjeta-mokepon::before {
    opacity: 1;
}

h1 {
    margin-top: -40px;
    margin-bottom: -50px;
}

button {
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    line-height: 1;
    padding: 1.2rem 1.2rem;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    border-width: 2px;
    border-color: #395FAA;
    height: 80px;
    background: none;
    position: relative;
    overflow: hidden;
}

button:hover{
    box-shadow: #395FAA 0 0 0 5px, transparent 0 0 0 0;
}

button::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -10px;
    width: 110%;
    height: 200%;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

button:hover::before {
    opacity: 1;
}

#boton-mascota {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 250px;
}

#boton-mascota::before {
    background: url("img/selection.gif");
    background-size: cover;
}

#boton-fuego::before {
    background: url("img/fire.gif");
    background-size: cover;
}

#boton-agua::before {
    top: -60px;
    background: url("img/water.gif");
    background-size: cover;
}

#boton-planta::before {
    background: url("img/plant.gif");
    background-size: cover;
}

.botones-ataque {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botones-ataque2 {
    position: relative;
}

.fotos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vidas {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.vidas p{
    margin: 10px;
    border: solid #395FAA;
    width: 370px;
    min-height: 370px;
}

.ataques {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 1px 6px 2px 10px;
    border: solid #395FAA;
    border-radius: 8px;
    border-width: 2px;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
}

a:hover {
    box-shadow: #395FAA 0 0 0 5px, transparent 0 0 0 0;
}


.tooltiptext {
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;
    padding: 1px 6px 2px 10px;
    border: solid #395FAA;
    border-radius: 8px;
    border-width: 2px;
}

#tooltip-doge {
    top: 15px;
    right: 110%;
    width: 250px;
}

#tooltip-pepo {
    width: 600px;
    top: 108%;
    left: 50%;
    margin-left: -300px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

#tooltip-gueya {
    top: 15px;
    left: 110%;
    width: 250px;
}

#tooltip-fuego {
    right: 110%;
    width: 300px;
}

#tooltip-agua {
    width: 300px;
    top: 120%;
    left: 50%;
    margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

#tooltip-planta {
    left: 110%;
    width: 300px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tarjeta-mokepon:hover .tooltiptext, .botones-ataque2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Adds a tooltip arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
  }

#tooltip-doge::after, #tooltip-fuego::after {
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -10px;
    border-color: transparent transparent transparent #395FAA;
}

#tooltip-pepo::after, #tooltip-agua::after {
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-color: transparent transparent #395FAA transparent;
}

#tooltip-gueya::after, #tooltip-planta::after {
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-color: transparent #395FAA transparent transparent;
}