@font-face {
    font-family: Kavoon;
    src: url("fonts/Kavoon-Regular.ttf");
}

body {
    text-align: center;
    font-family: Kavoon;
}

img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}

img:hover {
    transform: scale(1.3);
}